h1
{
	color: purple;
	font-family:Algerian;
	text-align:center;
	font-size: 60px;
	opacity: 0.5;
}
body
{
	margin: 0;
	padding: 0;
	background-image: url(../images/water.jpg);
}

.loginform
{
	margin: 50px auto; /* top-bottom  left-right(auto)*/
	width: 500px;
	background-color: black;
	/*url(../images/random.jpg)
	background-color: rgb(129,28,150);
	background-color: #c4c9e6;
	opacity: 0.8;
	background-color: rgba(129,28,150,0.2);
	*/
	/*background-color: skyblue ;*/
	padding:40px;
	
	/*text-align: center;*/
	border: 8px;
	color: white;

}
.clear
{
	clear: both;
	/*margin: 10px;*/
}
.row
{
	
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
.label
{
	float: left;
	width: 80%;
	/*font-weight: bold;
	font-size: 1px; 
	color: black;*/
	/*opacity: 1.0*/
}
.input
{
	float: left;
	width: 100%;
}
input[type="text"], textarea
{
	width: 80%;
	padding: 10px;
	/*margin: 10px;*/
}
input[type="submit"]
{
	border: 10px;
	padding: 20px;
	width: 80%;
	margin: 10px auto;
	display: inline-block;
	background-image: url(../images/download.jpg);	
	color: black;
	font-weight:bold;
	font-size: 30px;

}
